automation.amani-mavu.com {
	reverse_proxy n8n:5678 {
		flush_interval -1
	}
}

evolution.amani-mavu.com {
	reverse_proxy evolution_api:8080 {
		flush_interval -1
	}
}

pgadmin.amani-mavu.com {
	reverse_proxy pgadmin:80 {
		flush_interval -1
	}
}
